<p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon [routerLink]="['/']" >menu</mat-icon>
      </button>

      <span><a>Shopping</a></span>

      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['/cart']">
        <mat-icon matBadge="{{ cartCount }}" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      
    </mat-toolbar>
  </p>